@(logged: Boolean)(panic: Boolean)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>

		@if(logged) {
			Hello admin!
		} else {
			<form action="/web/login" method="POST">
				@helper.CSRF.formField
				<input type="text" name="login">
				<input type="password" name="password">
				<input type="submit" value="Login">
			</form>
		}

	<a href="/web/tags">Edycja tagów</a>
	<a href="/web/reports">Zgłoszenia</a>
	<a href="/web/clients">Użytkownicy</a>
	<form action="/web/toggleevacuation" method="POST">
	@if(panic) {
		<input type="submit" value="Evacuation OFF">
	} else {
		<input type="submit" value="Evacuation ON">
		}
	</form>

	</body>
</html>