@(reports: Seq[Report])(implicit request: RequestHeader)

<html>
	<body>
		<ul>
			@for(r <- reports) {
				<li>
					<table border="1px 1px 1px 1px">
						<tr>
							<td>ID: @r.id.toString</td>
							<td>Tytuł: @r.title</td>
							<td>Autor: @r.author.name</td>
						</tr>
						<tr>
							<td colspan="3">Opis: @r.description</td>
						</tr>
						<tr>
							<td>Miejsce: @r.location</td>
							<td>Status: @r.status</td>
							<td>Tagi: @r.tags.map(_.name)</td>
						</tr>
					</table>
					Zmień status:
					<form action="/web/setreport" method="POST">
						@helper.CSRF.formField
					<input type="hidden" name="report" value="@r.id">
					<input type="hidden" name="status" value="pending">
					<input type="submit" value="pending">
					</form>
					<form action="/web/setreport" method="POST">
						@helper.CSRF.formField
					<input type="hidden" name="report" value="@r.id">
					<input type="hidden" name="status" value="fixed">
					<input type="submit" value="fixed">
					</form>
					<form action="/web/setreport" method="POST">
						@helper.CSRF.formField
					<input type="hidden" name="report" value="@r.id">
					<input type="hidden" name="status" value="accepted">
					<input type="submit" value="accepted">
					</form>
				</li>
			}
		</ul>
	</body>
</html>